name: Radar Update
on:
  schedule:
    - cron: '*/10 * * * *' # Run every 10 mins
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Rotate Frames
        run: |
          # Move T-3 to T-4, T-2 to T-3, etc.
          rm -rf public/data/tiles_4 public/data/metadata_4.json || true
          mv public/data/tiles_3 public/data/tiles_4 || true
          mv public/data/metadata_3.json public/data/metadata_4.json || true
          mv public/data/tiles_2 public/data/tiles_3 || true
          mv public/data/metadata_2.json public/data/metadata_3.json || true
          mv public/data/tiles_1 public/data/tiles_2 || true
          mv public/data/metadata_1.json public/data/metadata_2.json || true
          mv public/data/tiles_0 public/data/tiles_1 || true
          mv public/data/metadata_0.json public/data/metadata_1.json || true
      - name: Run Script
        run: |
          pip install xarray cfgrib numpy matplotlib Pillow beautifulsoup4 requests
          python scripts/process_mrms.py
      - name: Deploy
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add .
          git commit -m "Update radar frames" || exit 0
          git push
